startup --windows_enable_symlinks

# Don't generate MODULE.bazel.lock file for now
# https://bazel.build/reference/command-line-reference#flag--lockfile_mode
common --lockfile_mode=off

# Enable automatic --config selection based on the current platform (e.g. on Windows --config=windows is implied, on Linux --config=linux, etc.)
common --enable_platform_specific_config
common --nobuild_runfile_links

# Simply my preference - e.g. don't create extra "bazel", "bazel-bin" folders in this folder.
build --experimental_convenience_symlinks=clean

# Enable C++20 for Windows compilers: MSVC and LLVM's clang-cl
# For gcc/clang you need it slightly different - `-std=c++20`
build:windows --cxxopt="/std:c++17"
build:linux   --cxxopt="-std=c++17"
build:macos   --cxxopt="-std=c++17"

build:windows --cxxopt="/W4"
build:windows --cxxopt="/WX"

# examples/component/canvas_animated.cpp(173): warning C4244: '=': conversion from 'double' to '_Ty', possible loss of data ... with [ _Ty = float ]
build:windows --cxxopt="/wd4244"

# src/ftxui/screen/screen.cpp(564): warning C4267: 'return': conversion from 'size_t' to 'uint8_t', possible loss of data
build:windows --cxxopt="/wd4267"

# Allow LLVM's clang-cl to be used as compiler on Windows.
# Simply add --config=windows-clang-cl on the command-line and it'll enable it.
# The extra_execution_platforms is defined in the BUILD.bazel
common:clang-cl --extra_execution_platforms=//:x64_windows-clang-cl --extra_toolchains=@local_config_cc//:cc-toolchain-x64_windows-clang-cl

# Ignore an error in one specific google test when compiling under clang
common:clang-cl --per_file_copt=googletest/src/gtest-filepath.cc@-Wno-unused-const-variable

# Use plain characters when doing "bazel mod graph"
mod:windows --charset=ascii

# This is optinal, and machine dependent. Bazel would only try to import this, and ignore it if it fails.
#
# My ../top.bazelrc has this inside:
#
#  build --disk_cache=f:/b/d
#  common --repository_cache=f:/b/r
#  startup --output_user_root=f:/b/u
# 
try-import %workspace%/../top.bazelrc
